/*Meu Css*/

.nm{
	margin:0px !important;
}
.np{
	padding:0px !important;
}
.nr{
	border-radius:0px !important;
}
.upper{
	text-transform:uppercase;
}
.suave, .suave:hover{
	transition-duration:0.3s;
	-webkit-transition-duration:0.3s;
	-moz-transition-duration:0.3s;
	-ms-transition-duration:0.3s;
	-o-transition-duration:0.3s;
}
img{
	margin-bottom:-6px !important;
}

.divider{
	margin:15px 0px;
}
.btn, .btn-large{
	border-radius:50px !important;
}

.times{
	font-family:"Times New Roman", Times, serif !important;
}

main{
	margin:0px;
}
@media only screen and ( max-width:768px ){
	main{
		padding:0px;
	}
}

#logo{
	width:100%;
	height:200px;
}
#logo2{
	display:none;
}
#logo2 h1{
	padding:20px;
}
#banner{
	width:100%;
	height:100vh;
	overflow:hidden;
}
@media only screen and ( max-width:768px ){
	#banner{
		height:auto;
	}
}
#banner .caption h3{
	font-weight:bold;
}

#sobre,
#trabalhos,
#depoimentos,
#contatos{
	padding:150px 40px;
}

#sobre p{
	padding:0px 110px;
	padding-top:20px;
	font-size:18px;
}

#trabalhos .row{
	padding-top:35px;
}
#trabalhos .trabalhos-img{
	height:150px;
	overflow:hidden;
	border:3px solid #000;
	outline:1px solid #000;
	outline-offset:-7px;
}
#trabalhos .col:hover .trabalhos-img{
	outline-offset:5px;
}
#trabalhos .trabalhos-img img{
	margin-top:-10%;
}
#trabalhos .trabalhos-desc{
	padding:15px;
}
#trabalhos .trabalhos-desc h6{
	font-size:20px;
}
#trabalhos .trabalhos-desc p{
	font-size:18px;
}


#depoimentos .depoimentos-img{
	margin-top:50px;
}
#depoimentos .depoimentos-img img{
	width:150px;
	height:150px;
}
#depoimentos .depoimentos-desc p{
	padding:10px;
	margin:30px 140px;
	font-size:18px;
	border-left:3px solid #000;
}

#contatos ul li{
	display:inline-block;
	width:20%;
}

footer h6{
	padding:15px;
	margin:0px;
}


















